<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta name="description" content="">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>{{project.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="../css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="../css/boilerplate.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/docs.min.css">
        <link rel="stylesheet" href="../css/bootstrapValidator.min.css" />
        <link rel="stylesheet" href="../octicons/octicons.css">
    </head>
    <!-- Credit http://www.bootply.com/100983 -->
    <!-- Credit https://gist.github.com/mnewt/4228037 -->
    <!-- Credit http://www.bootply.com/uvLVEgXZaK -->
    <!-- Credit http://getbootstrap.com/examples/cover/ -->
    
    
    <body body data-spy="scroll" data-target="#side-nav">
        <header class="masthead">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>
                            {{ project.title }}
                        </h1>
                        <p class="lead">
                            {{{ project.description.markdown }}}
                            {{#each_quiz}}
                                {{#equal ../quiz_id id }}
                                    {{#if header }}
                                        <hr/>
                                        {{#if header.markdown }}
                                            {{{ header.markdown }}}
                                        {{else}}
                                            {{ header }}
                                        {{/if}}
                                    {{/if}}
                                {{/equal}}
                            {{/each_quiz}}
                        </p>
                    </div>
                    <div class="col-md-5 extra-top-pad hidden-xs hidden-sm">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/320px-Flag_of_France.svg.png" 
                                         class="img-responsive" 
                                         onmouseover="flagHover(this);" 
                                         onmouseout="flagUnhover(this);" 
                                         alt='Vive le Québec libre !'>
                                </div>
                                <div class="col-sm-6">
                                    <ul>
                                        <li>
                                            View on <a href="{{ project.github }}">GitHub</a>
                                        </li>
                                        <li>
                                            Report an <a href="{{ project.github }}/issues">issue</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/twbs">@twbs</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/jquery">@jquery</a>
                                        </li>
                                        <li>
                                            <a href="http://bootstrapvalidator.com">BootstrapValidator</a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ author.twitter }}">
                                                Tweet @{{ author.twitter }}
                                            </a>
                                            <script>
                                            ! function(d, s, id)
                                            {
                                                var js, fjs = d.getElementsByTagName(s)[0],
                                                    p = /^http:/.test(d.location) ? 'http' : 'https';
                                                if (!d.getElementById(id))
                                                {
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = p + '://platform.twitter.com/widgets.js';
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }
                                            }(document, 'script', 'twitter-wjs');
                                            </script>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>	  	  	
            
  	
        <!-- Begin Navbar -->
        <div id="nav">
          <div class="navbar navbar-default navbar-static">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../">{{ project.title }}</a>
                </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#each_quiz}}
                        <li {{#equal ../quiz_id id }} class="active" {{/equal}}>
                            <a href="../{{ id }}">
                                {{ name }}
                            </a>
                        </li>
                    {{/each_quiz}}
                </ul>
                <ul class="nav pull-right navbar-nav">
                  <li>
                    <form class="navbar-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </form>
                  </li>
                </ul>
              </div>		
            </div>
          </div><!-- /.navbar -->
        </div>

        <!-- Begin Body -->
        <div class="container">
            {{#each_quiz}}
                {{#equal ../quiz_id id }}
                    <!--/row-->
                    <div class="row">
                        <!--left-->
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div id="side-nav" class="bs-docs-sidebar" role="complementary">
                            <ul class="nav bs-docs-sidenav" >
                                {{#each section}}
                                <li>
                                    <a class="scroller" href="#{{ @key }}">
                                        {{{ title }}}
                                    </a>
                                    <ul class="nav">
                                        {{#each lesson}}
                                            <li>
                                                <a class="scroller" href="#{{ @key }}-lesson-{{ @index }}">
                                                    <span class="octicon octicon-mortar-board"></span> {{{ title }}}
                                                </a>
                                            </li>
                                        {{/each}}
                                        {{#each quiz}}
                                            <li>
                                                <a class="scroller" href="#{{ @key }}-quiz-{{ @index }}">
                                                    <span class="octicon octicon-question"></span> {{{ title }}}
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                            </div>
                        </div>
                        <!--/left-->
                        <!--right-->
                        <div class="col-md-9" id="scroll-body">
                            {{#each section}}
                                {{#equal @index 0 }} {{else}}<hr/> {{/equal}}                            
                                <h2 id="{{ @key }}">{{ title }}</h2>
                                {{{ markdown }}}
                                {{#if lesson }}
                                    <hr/>
                                    <h3> <span class="mega-octicon octicon-mortar-board"></span> Lessons </h3>
                                    {{#each lesson}}
                                        <h3 id="{{ @key }}-lesson-{{ @index }}">{{ title }}</h3>
                                        {{{ markdown }}} 
                                    {{/each}}
                                {{/if}}
                                {{#if quiz }}
                                    <hr/>
                                    <h3><span class="mega-octicon octicon-question"></span> Questions</h3>
                                    <div class="row">
                                        {{#each quiz}}
                                            <div class="col-md-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 id="{{ @key }}-quiz-{{ @index }}">{{ title }}</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <form id="form-{{ ../../../id }}-{{ @key }}-{{ @index }}" method="post" class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-lg-6 control-label">{{ question }}</label>
                                                                <div class="col-lg-6">
                                                                    <input type="text" class="form-control" name="question" placeholder="Your answer..." />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                        <!--/right-->
                    </div>
                    <!--/row-->
                {{/equal}}
            {{/each_quiz}}
        </div>
    

        <!--/container-->
        <!-- script references -->
        <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script-->
        <!--script>
            window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')
    </script-->
        <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../js/handlebars-v1.3.0.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/bootstrapValidator.min.js"></script>
        <!-- Credit http://semplicewebsites.com/removing-accents-javascript -->
        <script type="text/javascript" src="../js/latinise.min.js"></script>
        <script type="text/javascript" src="../js/scripts.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
         <script>
            function flagHover(element) {
                element.setAttribute('src', 'http://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Flag_of_Quebec.svg/320px-Flag_of_Quebec.svg.png');
            }
            function flagUnhover(element) {
                element.setAttribute('src', 'http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/320px-Flag_of_France.svg.png');
            }
            $(document).ready(function() {
                {{#each_quiz}}
                    {{#equal ../quiz_id id }}
                        {{#each section}}
                            {{#each quiz}}
                                validateFormWithAnswer( '#form-{{ ../../id }}-{{ @key }}-{{ @index }}', "{{ answer }}" );
                            {{/each}}
                        {{/each}}
                    {{/equal}}
                {{/each_quiz}}
            });
        </script>
        {{#if project.googleanalytics }}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{project.googleanalytics }}');ga('send','pageview');
        </script-->
        {{/if}}
    </body>
</html>
